.custom-btn {
    transition: all 0.3s ease-in-out;
    border: 2px solid $theme1;
    font-size: 14px;
      &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background-color: $theme1;
        left: 0;
        top: 0;
        z-index: -1;
        transition: all 0.3s ease-in-out ;
      }
      & .person {
        height: 15px;
        width: 15px;
        & .person-img {
            filter: brightness(0.1);
            transition: all 0.3s ease-in-out;
        }
      }
      &:hover {
        border-color: $theme1;
        background-color: transparent;
        color: $theme1;
        &::before {
            width: 0;
        }
        & .person-img {
            filter:none;
        }
      }
      &:focus {
        border-color: $theme1;
        background-color: transparent;
        color: $theme1;
        &::before {
            width: 0;
        }
        & .person-img {
            filter:none;
        }
      }
      &:active {
        border-color: $theme1 !important;
        background-color: transparent !important;
        color: $theme1 !important;
        &::before {
            width: 0 ;
        }
        & .person-img {
            filter:none;
        }
      }
}
.custom-btn2 {
  color: $theme1;
  &::before {
    width:0;
  }
  & .person-img {
    filter: none !important;
  }
  &:hover {
    color: $black;
    &::before {
        width: 100%;
    }
    & .person-img {
        filter:brightness(0.1) !important;
    }
  }
}


// Small devices (landscape phones, 576px and up)
@mixin btn-mixin-min-sm() {
  .custom-btn {
      &::before {
      }
      & .person {
        & .person-img {
        }
      }
      &:hover {
        &::before {
        }
        & .person-img {
        }
      }
      &:focus {
        &::before {
        }
        & .person-img {
        }
      }
      &:active {
        &::before {
        }
        & .person-img {
        }
      }
   }
  .custom-btn2 {
  &::before {
  }
  & .person-img {
  }
  &:hover {
    &::before {
    }
    & .person-img {
    }
  }
  }
}
// Medium devices (tablets, 768px and up)
@mixin btn-mixin-min-md() {
  .custom-btn {
    &::before {
    }
    & .person {
      & .person-img {
      }
    }
    &:hover {
      &::before {
      }
      & .person-img {
      }
    }
    &:focus {
      &::before {
      }
      & .person-img {
      }
    }
    &:active {
      &::before {
      }
      & .person-img {
      }
    }
  }
.custom-btn2 {
&::before {
}
& .person-img {
}
&:hover {
  &::before {
  }
  & .person-img {
  }
}
  }
}
// Large devices (desktops, 992px and up)
@mixin btn-mixin-min-lg() {
  .custom-btn {
    &::before {
    }
    & .person {
      & .person-img {
      }
    }
    &:hover {
      &::before {
      }
      & .person-img {
      }
    }
    &:focus {
      &::before {
      }
      & .person-img {
      }
    }
    &:active {
      &::before {
      }
      & .person-img {
      }
    }
 }
.custom-btn2 {
&::before {
}
& .person-img {
}
&:hover {
  &::before {
  }
  & .person-img {
  }
}
}
}
// X-Large devices (large desktops, 1200px and up)
@mixin btn-mixin-min-xl() {
  .custom-btn {
    &::before {
    }
    & .person {
      & .person-img {
      }
    }
    &:hover {
      &::before {
      }
      & .person-img {
      }
    }
    &:focus {
      &::before {
      }
      & .person-img {
      }
    }
    &:active {
      &::before {
      }
      & .person-img {
      }
    }
 }
.custom-btn2 {
&::before {
}
& .person-img {
}
&:hover {
  &::before {
  }
  & .person-img {
  }
}
}
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin btn-mixin-min-xxl() {
  .custom-btn {
    &::before {
    }
    & .person {
      & .person-img {
      }
    }
    &:hover {
      &::before {
      }
      & .person-img {
      }
    }
    &:focus {
      &::before {
      }
      & .person-img {
      }
    }
    &:active {
      &::before {
      }
      & .person-img {
      }
    }
 }
.custom-btn2 {
&::before {
}
& .person-img {
}
&:hover {
  &::before {
  }
  & .person-img {
  }
}
}
}
// X-Large devices (large desktops, less than 1400px)
@mixin btn-mixin-max-xl() {
  .custom-btn {
    &::before {
    }
    & .person {
      & .person-img {
      }
    }
    &:hover {
      &::before {
      }
      & .person-img {
      }
    }
    &:focus {
      &::before {
      }
      & .person-img {
      }
    }
    &:active {
      &::before {
      }
      & .person-img {
      }
    }
 }
.custom-btn2 {
&::before {
}
& .person-img {
}
&:hover {
  &::before {
  }
  & .person-img {
  }
}
}
}
// Large devices (desktops, less than 1200px)
@mixin btn-mixin-max-lg() {
  .custom-btn {
    &::before {
    }
    & .person {
      & .person-img {
      }
    }
    &:hover {
      &::before {
      }
      & .person-img {
      }
    }
    &:focus {
      &::before {
      }
      & .person-img {
      }
    }
    &:active {
      &::before {
      }
      & .person-img {
      }
    }
 }
.custom-btn2 {
&::before {
}
& .person-img {
}
&:hover {
  &::before {
  }
  & .person-img {
  }
}
}
}
// Medium devices (tablets, less than 992px)
@mixin btn-mixin-max-md() {
  .custom-btn {
    font-size: 13px;
    &::before {
    }
    & .person {
      & .person-img {
      }
    }
    &:hover {
      &::before {
      }
      & .person-img {
      }
    }
    &:focus {
      &::before {
      }
      & .person-img {
      }
    }
    &:active {
      &::before {
      }
      & .person-img {
      }
    }
 }
.custom-btn2 {
&::before {
}
& .person-img {
}
&:hover {
  &::before {
  }
  & .person-img {
  }
}
}
}
// Small devices (landscape phones, less than 768px)
@mixin btn-mixin-max-sm() {
  .custom-btn {
    font-size: 12px;
    &::before {
    }
    & .person {
      & .person-img {
      }
    }
    &:hover {
      &::before {
      }
      & .person-img {
      }
    }
    &:focus {
      &::before {
      }
      & .person-img {
      }
    }
    &:active {
      &::before {
      }
      & .person-img {
      }
    }
  }
  .custom-btn2 {
&::before {
}
& .person-img {
}
&:hover {
  &::before {
  }
  & .person-img {
  }
}
  }
}
// X-Small devices (portrait phones, less than 576px)
@mixin btn-mixin-max-xs() {
  .custom-btn {
    font-size: 11px;
    &::before {
    }
    & .person {
      height: 12px;
      width: 12px;
      & .person-img {
      }
    }
    &:hover {
      &::before {
      }
      & .person-img {
      }
    }
    &:focus {
      &::before {
      }
      & .person-img {
      }
    }
    &:active {
      &::before {
      }
      & .person-img {
      }
    }
  }
  .custom-btn2 {
&::before {
}
& .person-img {
}
&:hover {
  &::before {
  }
  & .person-img {
  }
}
  }
}