.footer{
    &::before{
        content: '';
            position: absolute;
            background-image: url(../img/Main-page/footer.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 150px;
            width: 17%;
            top: 46px;
            left: -131px;
    }
    &::after{
        content: '';
            position: absolute;
            bottom: 0;
            right:100px;
            background-image: url(../img/Main-page/footer.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 32%;
            width: 16%;
    }
    & .footerLogo{
        height: 60px;
        width: 320px;
      
    }
    & .text{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: .1em;
        transition: all 0.3s ease-in-out;
     
    }
    & .footerLink{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: .1em;
        color: $theme3;
        transition: all 0.3s ease-in-out;
        &:hover{
            color: $theme1;
        }
    }
    & .head{
        font-size: 24px;
        line-height: 36px;
    }
}

// Small devices (landscape phones, 576px and up)
@mixin footer-mixin-min-sm() {}
// Medium devices (tablets, 768px and up)
@mixin footer-mixin-min-md() {}
// Large devices (desktops, 992px and up)
@mixin footer-mixin-min-lg() {}
// X-Large devices (large desktops, 1200px and up)
@mixin footer-mixin-min-xl() {}
// XX-Large devices (larger desktops, 1400px and up)
@mixin footer-mixin-min-xxl() {}

// X-Large devices (large desktops, less than 1400px)
@mixin footer-mixin-max-xl() {
    .footer{
        &::before{
            height: 150px;
            width: 17%;
            top: 46px;
            left: -131px;
        }
        &::after{
            content: '';
   
        }
        & .footerLogo{
      
          
        }
        & .text{
       
            &:hover{
               
            }
        }
        & .head{
            
        }
    }
}
// Large devices (desktops, less than 1200px)
@mixin footer-mixin-max-lg() {
    .footer{
        &::before{
            left: -111px;
            top: 60px;
            height: 150px;
            width: 18%;
        }
        &::after{
            height: 150px;
            width: 19%;
            right: 50px;
   
        }
        & .footerLogo{
            height: 50px;
            width: 270px;
          
        }
        & .text{
            font-size: 15px;
}
            &:hover{
               
            }
            & .head{
                font-size: 22px;
            }
        }
    }

// Medium devices (tablets, less than 992px)
@mixin footer-mixin-max-md() {
    .footer{
        &::before{
            height: 150px;
             width: 28%;
             left: -156px;
        }
        &::after{
            height: 150px;
            width: 26%;
            right: 0;
        }
        & .footerLogo{
            height: 50px;
            width: 270px;
          
        }
        & .text{
            font-size: 16px;
            line-height: 24px;
          
        }
        & .head{
            
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin footer-mixin-max-sm() {
    .footer{
        &::before{
        
        }
        &::after{
            height: 142px;
            width: 24%;
        }
        
        & .footerLogo{
            height: 50px;
            width: 270px;
          
        }
        & .text{
            font-size: 15px;
        }
        & .footerLink{
            font-size: 15px;
            line-height: 24px;
            &:hover{
         
            }
        }
        & .head{
            
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@mixin footer-mixin-max-xs() {
    .footer{
        &::before{
        
        }
        &::after{
            height: 150px;
            width: 71%;
            right: 0;
   
        }
        & .footerLogo{
            height: 30px !important;
          
          
        }
        & .text{
       font-size: 14px;
       line-height: 21px;
         
        }
        & .footerLink{
            font-size: 12px;
            line-height: 18px;
            &:hover{
         
            }
        }
        & .head{
            font-size: 20px;
        }
    }
}