.heroSection{
    height: calc(100vh - 80px);
    width: 100%;
    padding-bottom: 90px;
    & .heroSectionowl{
        & .owl-stage-outer{
            padding: 0;
            height: 100% !important;

            & .owl-stage{
                height: 100% !important;
                & .owl-item{
                    height: 100%  !important;
                    
                    & .item{
                        // background-color: $theme1;
                        // border: 1px solid $theme1;
                        & .heroSectionOuter {
                            border: 1px solid $theme1;
                            padding: 3px;
                            & .heroSectionInner {
                                background-color: $theme1;
                                & .heroContent {
                                    position: absolute;
                                    top: 50%;
                                    transform: translate(0,-50%);
                                    & .subheading{
                                        color:#A89D9C;
                                        position: relative;
                                        font-size: 16px;
                                        padding-left: 36px;
                                        &::before{
                                            position: absolute;
                                            content: '';
                                            background-color: #A89D9C;
                                            width: 30px;
                                            height: 3px;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            left: 0;
                                        }
                                    }
                                    & .heading{
                                        font-size: 74px;
                                        line-height: 82px;
                                        font-weight: 100;
                                        & span{
                                            font-weight: 600;
                                        }
                                    }
                                    & .heroBtn{
                                        & .icon{
                                            width: 16px;
                                            height: 16px;
                                        }
                                    }
                                    & .owl-dots{
                                      padding-top: 30px;
                                        display: flex;
                                        gap: 45px;
                                        & .owl-dot{
                                            width: 29px;
                                                height: 29px;
                                                font-size: 16px;
                                                color: #A89D9C;
                                                font-weight: 500;
                                                position: relative;
                                            &.active{
                                                font-weight: 500 ;
                                                color: $black;
                                                font-size: 17px;
                                            }
                                            &:nth-child(1) {
                                              
                                                &::before{
                                                    position: absolute;
                                                    content:'';
                                                    width: 35px;
                                                    height: 2px;
                                                    top: 50%;
                                                    transform: translateY(-50%);
                                                    background-color: #A89D9C;
                                                    left: 34px;
                                                    transform: translateY(-50%);
                                                }
                                            }
                                            &:nth-child(2) {
                                                &::before{
                                                    position: absolute;
                                                    content:'';
                                                    width: 35px;
                                                    height: 2px;
                                                    top: 50%;
                                                    transform: translateY(-50%);
                                                    background-color: #A89D9C;
                                                    left: 34px;
                                                    transform: translateY(-50%);
                                                }
                                            }
                                         
                                        }
                                    }
                                } 
                                & .heroImag {
                                    height: 100%;
                                    max-width: 400px;
                                
                                }
                            }
                        }
                    }
                }

            }
        }
        
    }
}

// Small devices (landscape phones, 576px and up)
@mixin heroSection-mixin-min-sm() {}
// Medium devices (tablets, 768px and up)
@mixin heroSection-mixin-min-md() {}
// Large devices (desktops, 992px and up)
@mixin heroSection-mixin-min-lg() {}
// X-Large devices (large desktops, 1200px and up)
@mixin heroSection-mixin-min-xl() {}
// XX-Large devices (larger desktops, 1400px and up)
@mixin heroSection-mixin-min-xxl() {}

// X-Large devices (large desktops, less than 1400px)
@mixin heroSection-mixin-max-xl() {
    .heroSection{
        & .heroSectionowl{
            & .owl-stage-outer{
             
    
                & .owl-stage{
                  
                    & .owl-item{
                    
                        & .item{
                         & .heroSectionOuter{
                            & .heroSectionInner{
                                & .heroContent {
                               
                                    & .subheading{
                                 
                                        &::before{
                                   
                                        }
                                    }
                                    & .heading{
                                     
                                        & span{
                                           
                                        }
                                    }
                                    & .owl-dots{
                                        padding-top: 10px;
                                        & .owl-dot{
                                         
                                            &.active{
                                                
                                            }
                                            &:nth-child(1) {
                                              
                                                &::before{
                                         
                                                }
                                            }
                                            &:nth-child(2) {
                                                &::before{
                                      
                                                }
                                            }
                                         
                                        }
                                    }
                                } 
                                & .heroImag {
                                    
                                  
                                }
                            }
                         }
                        }
                    }
    
                }
              
            }
       
        }
    }
}

// Large devices (desktops, less than 1200px)
@mixin heroSection-mixin-max-lg() {
    .heroSection{
        padding-bottom: 70px;
        & .heroSectionowl{
            & .owl-stage-outer{
             
    
                & .owl-stage{
                  
                    & .owl-item{
                    
                        & .item{
                         & .heroSectionOuter{
                            & .heroSectionInner{
                                & .heroContent {
                               
                                    & .subheading{
                                 
                                        &::before{
                                   
                                        }
                                    }
                                    & .heading{
                                        font-size: 60px;
                                        line-height: 66px;
                                        & span{
                                           
                                        }
                                    }
                                    & .owl-dots{
                                        padding-top: 15px;
                                        & .owl-dot{
                                         
                                            &.active{
                                                
                                            }
                                            &:nth-child(1) {
                                              
                                                &::before{
                                         
                                                }
                                            }
                                            &:nth-child(2) {
                                                &::before{
                                      
                                                }
                                            }
                                         
                                        }
                                    }
                                } 
                                & .heroImag {
                                    
                                  
                                }
                            }
                         }
                        }
                    }
    
                }
              
            }
         
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin heroSection-mixin-max-md() {
    .heroSection{
        padding-bottom: 50px;
        & .heroSectionowl{
            & .owl-stage-outer{
             
    
                & .owl-stage{
                  
                    & .owl-item{
                    
                        & .item{
                         & .heroSectionOuter{
                            & .heroSectionInner{
                                & .heroContent {
                               
                                    & .subheading{
                                 
                                        &::before{
                                   
                                        }
                                    }
                                    & .heading{
                                        font-size: 40px;
                                        line-height: 49px;
                                        & span{
                                           
                                        }
                                    }
                                    & .owl-dots{
                                     
                                        & .owl-dot{
                                         
                                            &.active{
                                                
                                            }
                                            &:nth-child(1) {
                                              
                                                &::before{
                                         
                                                }
                                            }
                                            &:nth-child(2) {
                                                &::before{
                                      
                                                }
                                            }
                                         
                                        }
                                    }
                                } 
                                & .heroImag {
                                    
                                  
                                }
                            }
                         }
                        }
                    }
    
                }
              
            }
          
        }
    }
    
}
// Small devices (landscape phones, less than 768px)
@mixin heroSection-mixin-max-sm() {
    .heroSection{
        padding-bottom: 30px;
        height:300px;
        & .heroSectionowl{
            & .owl-stage-outer{
             
    
                & .owl-stage{
                  
                    & .owl-item{
                    
                        & .item{
                         & .heroSectionOuter{
                            & .heroSectionInner{

                                & .heroContent {
                               
                                    & .subheading{
                                        font-size: 14px;
                                        &::before{
                                           
                                        }
                                    }
                                    & .heading{
                                        font-size: 28px;
                                        line-height: 37px;
                                   & br{
                                    display: none;
                                   }
                                        & span{
                                           
                                        }
                                    }
                                    & .owl-dots{
                                     
                                        & .owl-dot{
                                         
                                            &.active{
                                                
                                            }
                                            &:nth-child(1) {
                                              
                                                &::before{
                                         
                                                }
                                            }
                                            &:nth-child(2) {
                                                &::before{
                                      
                                                }
                                            }
                                         
                                        }
                                    }
                                } 
                                & .heroImag{
                                    
                                }
                            }
                         }
                        }
                    }
    
                }
              
            }
           
        }
    }
    
}
// X-Small devices (portrait phones, less than 576px)
@mixin heroSection-mixin-max-xs() {
 
    .heroSection{
        padding-bottom: 20px;
        height:230px;
        & .heroSectionowl{
            & .owl-stage-outer{
             
    
                & .owl-stage{
                  
                    & .owl-item{
                    
                        & .item{
                         & .heroSectionOuter{
                            & .heroSectionInner{
                                & .heroContent {
                               
                                    & .subheading{
                                        font-size: 12px;
                                        &::before{
                                   
                                        }
                                    }
                                    & .heading{
                                        font-size: 18px;
                                        line-height: 27px;
                                        & span{
                                           
                                        }
                                    }
                                    & .heroBtn{
                                        font-size: 13px;
                                    }
                                    & .owl-dots{
                                        gap: 30px;
                                        & .owl-dot{
                                         font-size: 14PX;
                                            &.active{
                                                font-size: 15px;
                                            }
                                            &:nth-child(1) {
                                              
                                                &::before{
                                                    left: 30px;
                                                    width: 26px;
                                                }
                                            }
                                            &:nth-child(2) {
                                                &::before{
                                                    left: 30px;
                                                    width: 26px;
                                                }
                                            }
                                         
                                        }
                                    }
                                } 
                                & .heroImag{
                                    
                                }
                            }
                         }
                        }
                    }
    
                }
              
            }
            & .owl-dots{
                bottom: 15px;
                left: 10px;
                & .owl-dot{
                font-size: 13px;
                    &.active{
                       font-size: 14px;
                    }
                    &:nth-child(1) {
                        &::after {
                     
                        }
                        &::before{
                     
                        }
                    }
                    &:nth-child(2) {
                        &::after {
                  
                        }
                        &::before{
                        
                        }
                    }
                    &:nth-child(3) {
                        &::after {
                         
                        }
                    }
                  
                }
            }
        }
    }
}

@mixin heroSection-mixin-max-468px(){
    .heroSection{
        height: 200px;
        & .heroSectionowl{
            & .owl-stage-outer{
                & .owl-stage{
                    & .owl-item{
                    
                        & .item{
                                & .heroSectionOuter{
                                    & .heroSectionInner{
                                        & .heroContent {
                               
                                            & .subheading{
                                                padding-left: 0px;
                                                &::before{
                                                   display: none;
                                                }
                                            }
                                            & .heading{
                                           
                                                & span{
                                                   
                                                }
                                            }
                                            & .owl-dots{
                                         
                                                
                                                & .owl-dot{
                                                 
                                                    &.active{
                                                        
                                                    }
                                                    &:nth-child(1) {
                                                      
                                                        &::before{
                                                 
                                                        }
                                                    }
                                                    &:nth-child(2) {
                                                        &::before{
                                              
                                                        }
                                                    }
                                                 
                                                }
                                            }
                                        } 
                                        & .heroImag{
                                            // max-width: 300px !important;
                                        }
                                    }
                                }
                               
                            }
                          
                    }
    
                }
              
            }
        
        }
    }
}



// shippingSection

.shippingSection{
    & .shippingCard{
        height: 380px;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        cursor: pointer;
        &:hover{
            & .card-body{
                & .cardImage{
                    transform: scale(1.1);
                }
            }
        }
    & .card-body{
        & .cardImage{
            max-width: 333px;
            max-height: 363px;
            position: absolute;
            right: 0px;
            bottom: 0;
            transition: all 0.3s ease-in-out;
            overflow: hidden;
        }
        & .cardContent{
            position: absolute;
            left: 20px;
            bottom: 38px;
            & .text{
                color: lighten($black, 60);
                font-size: 16px;
                line-height: 22px;
            }
            & .heading{
                font-size: 26px;
                line-height: 32px;
            }
            & .heroBtn{
                & .icon{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
      

    }

    & .shippingCard1{
        height: 250px;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        cursor: pointer;
        &:hover{
            & .card-body{
                & .cardImage{
                    transform: scale(1.1);
                }
            }
        }
    & .card-body{
        & .cardImage{
            max-width: 196px;
            max-height: 363px;
            position: absolute;
            right: 37px;
            bottom: 0;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
        }
        & .cardContent{
            position: absolute;
            left: 20px;
            bottom: 30px;
            & .text{
                color: lighten($black, 60);
                font-size: 16px;
                line-height: 22px;
            }
            & .heading{
                font-size: 26px;
                line-height: 32px;
            }
            & .heroBtn{
                & .icon{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
      

    }
 
}


// Small devices (landscape phones, 576px and up)
@mixin shippingSection-mixin-min-sm() {}
// Medium devices (tablets, 768px and up)
@mixin shippingSection-mixin-min-md() {}
// Large devices (desktops, 992px and up)
@mixin shippingSection-mixin-min-lg() {}
// X-Large devices (large desktops, 1200px and up)
@mixin shippingSection-mixin-min-xl() {}
// XX-Large devices (larger desktops, 1400px and up)
@mixin shippingSection-mixin-min-xxl() {}

// X-Large devices (large desktops, less than 1400px)
@mixin shippingSection-mixin-max-xl() {
    .shippingSection{
        & .shippingCard{
       
            &:hover{
                & .card-body{
                    & .cardImage{
                     
                    }
                }
            }
        & .card-body{
            & .cardImage{
           
            }
            & .cardContent{
              
                & .text{
             
                }
                & .heading{
                 
                }
                & .heroBtn{
                    & .icon{
                      
                    }
                }
            }
        }
          
    
        }
    
        & .shippingCard1{
         
            &:hover{
                & .card-body{
                    & .cardImage{
                     
                    }
                }
            }
        & .card-body{
            & .cardImage{
        
            }
            & .cardContent{
           
                & .text{
                  
                }
                & .heading{
                  
                }
                & .heroBtn{
                    & .icon{
                      
                    }
                }
            }
        }
          
    
        }
     
    }
}

// Large devices (desktops, less than 1200px)
@mixin shippingSection-mixin-max-lg() {
    .shippingSection{
        
        & .shippingCard{
            height: 334px;
            &:hover{
                & .card-body{
                    & .cardImage{
                       
                    }
                }
            }
        & .card-body{
            & .cardImage{
                max-width: 262px;
            }
            & .cardContent{
              
                & .text{
             
                }
                & .heading{
                    font-size:24px;
                    list-style: 26px;
                }
                & .heroBtn{
                    & .icon{
                      
                    }
                }
            }
        }
          
    
        }
    
        & .shippingCard1{
         
            &:hover{
                & .card-body{
                    & .cardImage{
                     
                    }
                }
            }
        & .card-body{
            & .cardImage{
        
            }
            & .cardContent{
           
                & .text{
                  
                }
                & .heading{
                    font-size:24px;
                    list-style: 26px;
                }
                & .heroBtn{
                    & .icon{
                      
                    }
                }
            }
        }
          
    
        }
     
    }
}
// Medium devices (tablets, less than 992px)
@mixin shippingSection-mixin-max-md() {
    .shippingSection{
        & .shippingCard{
            height: 250px;
            &:hover{
                & .card-body{
                    & .cardImage{
                     
                    }
                }
            }
        & .card-body{
            & .cardImage{
                max-width: 169px;
            }
            & .cardContent{
              
                & .text{
                    font-size: 15px;
                }
                & .heading{
                    font-size: 21px;
                    line-height: 24px;
                }
                & .heroBtn{
                    font-size: 15px;
                    & .icon{
                      
                    }
                }
            }
        }
          
    
        }
    
        & .shippingCard1{
            height: 214px;
            &:hover{
                & .card-body{
                    & .cardImage{
                        
                    }
                }
            }
        & .card-body{
            & .cardImage{
                right: 16px;
                max-width: 136px;
            }
            & .cardContent{
                bottom: 30px;
                & .text{
                  font-size: 15px;
                }
                & .heading{
                  font-size: 21px;
                  line-height: 24px;
                }
                & .heroBtn{
                    font-size: 15px;
                    & .icon{
                      
                    }
                }
            }
        }
          
    
        }
     
    }
    
}
// Small devices (landscape phones, less than 768px)
@mixin shippingSection-mixin-max-sm() {
    .shippingSection{
        & .shippingCard{
       
            &:hover{
                & .card-body{
                    & .cardImage{
                     
                    }
                }
            }
        & .card-body{
            & .cardImage{
           
            }
            & .cardContent{
              
                & .text{
             
                }
                & .heading{
                 
                }
                & .heroBtn{
                    & .icon{
                      
                    }
                }
            }
        }
          
    
        }
    
        & .shippingCard1{
         
            &:hover{
                & .card-body{
                    & .cardImage{
                     
                    }
                }
            }
        & .card-body{
            & .cardImage{
        
            }
            & .cardContent{
           
                & .text{
                  
                }
                & .heading{
                  
                }
                & .heroBtn{
                    & .icon{
                      
                    }
                }
            }
        }
          
    
        }
     
    }
    
}
// X-Small devices (portrait phones, less than 576px)
@mixin shippingSection-mixin-max-xs() {
 
    .shippingSection{
        & .shippingCard{
            height: 200px;
            &:hover{
                & .card-body{
                    & .cardImage{
                     
                    }
                }
            }
        & .card-body{
            & .cardImage{
                max-width: 150px;
            }
            & .cardContent{
              
                & .text{
                    font-size: 14px;
                }
                & .heading{
                 font-size: 20px;
                }
                & .heroBtn{
                    font-size: 14px;
                    & .icon{
                      
                    }
                }
            }
        }
          
    
        }
    
        & .shippingCard1{
            height: 200px;
            &:hover{
                & .card-body{
                    & .cardImage{
                     
                    }
                }
            }
        & .card-body{
            & .cardImage{
        
            }
            & .cardContent{
           
                & .text{
                  font-size: 14px;
                }
                & .heading{
                  font-size: 20px;
                }
                & .heroBtn{
                    font-size: 14px;
                    & .icon{
                      
                    }
                }
            }
        }
          
    
        }
     
    }
}

@mixin shippingSection-mixin-max-468px(){
    .shippingSection{
        & .shippingCard{
       
            &:hover{
                & .card-body{
                    & .cardImage{
                     
                    }
                }
            }
        & .card-body{
            & .cardImage{
                max-width:135px;
            }
            & .cardContent{
              
                & .text{
                    font-size: 13px;
                }
                & .heading{
                 font-size: 18px;
                }
                & .heroBtn{
                    font-size: 13px;
                    & .icon{
                      
                    }
                }
            }
        }
          
    
        }
    
        & .shippingCard1{
         
            &:hover{
                & .card-body{
                    & .cardImage{
                     
                    }
                }
            }
        & .card-body{
            & .cardImage{
                max-width: 107px;
            }
            & .cardContent{
           
                & .text{
                  font-size: 13px;
                }
                & .heading{
                  font-size: 18px;
                }
                & .heroBtn{
                    font-size: 13px;
                    & .icon{
                      
                    }
                }
            }
        }
          
    
        }
     
    }
}
