// hero section start
.heroSection {
    & .mySwiper {
        height: 100vh;
        & .swiper-slide{
            // & .sliderr {
            //     background-repeat: no-repeat;
            //     background-position: center;
            //     background-size: cover;
            // }
            & .sliderr1 {
                background: url(../img/Index/slide1.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            & .sliderr2 {
                background: url(../img/Index/slide2.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            & .sliderr3 {
                background: url(../img/Index/slide1.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            & .sliderr4 {
                background: url(../img/Index/slide2.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            & .sliderr5 {
                background: url(../img/Index/slide1.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
        & .swiper-pagination {
            & .swiper-pagination-bullet {
                height: 15px;
                width: 15px;
                background-color: transparent;
                border: 3px solid $theme1;
                opacity: 1;
            }
            & .swiper-pagination-bullet-active {
                background-color: $theme1;
            }
        }
        & .hero-heading {
            font-size: 60px;
            color: $white;
            line-height: 70px;
            & .hero-subheading {
                color: $theme1;
            }
        }
        & .hero-title {
            font-size: 16px;
            color: $white;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@mixin heroSection-mixin-min-sm() {
    .heroSection {
        & .mySwiper {
            & .swiper-slide{
                & .sliderr1 {
                }
                & .sliderr2 {
                }
                & .sliderr3 {
                }
                & .sliderr4 {
                }
                & .sliderr5 {
                }
            }
            & .swiper-pagination {
                & .swiper-pagination-bullet {
                }
                & .swiper-pagination-bullet-active {
                }
            }
            & .hero-heading {
                & .hero-subheading {
                }
            }
            & .hero-title {
            }
        }
    }
}
// Medium devices (tablets, 768px and up)
@mixin heroSection-mixin-min-md() {
    .heroSection {
        & .mySwiper {
            & .swiper-slide{
                & .sliderr1 {
                }
                & .sliderr2 {
                }
                & .sliderr3 {
                }
                & .sliderr4 {
                }
                & .sliderr5 {
                }
            }
            & .swiper-pagination {
                & .swiper-pagination-bullet {
                }
                & .swiper-pagination-bullet-active {
                }
            }
            & .hero-heading {
                & .hero-subheading {
                }
            }
            & .hero-title {
            }
        }
    }
}
// Large devices (desktops, 992px and up)
@mixin heroSection-mixin-min-lg() {
    .heroSection {
        & .mySwiper {
            & .swiper-slide{
                & .sliderr1 {
                }
                & .sliderr2 {
                }
                & .sliderr3 {
                }
                & .sliderr4 {
                }
                & .sliderr5 {
                }
            }
            & .swiper-pagination {
                & .swiper-pagination-bullet {
                }
                & .swiper-pagination-bullet-active {
                }
            }
            & .hero-heading {
                & .hero-subheading {
                }
            }
            & .hero-title {
            }
        }
    }
}
// X-Large devices (large desktops, 1200px and up)
@mixin heroSection-mixin-min-xl() {
    .heroSection {
        & .mySwiper {
            & .swiper-slide{
                & .sliderr1 {
                }
                & .sliderr2 {
                }
                & .sliderr3 {
                }
                & .sliderr4 {
                }
                & .sliderr5 {
                }
            }
            & .swiper-pagination {
                & .swiper-pagination-bullet {
                }
                & .swiper-pagination-bullet-active {
                }
            }
            & .hero-heading {
                & .hero-subheading {
                }
            }
            & .hero-title {
            }
        }
    }
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin heroSection-mixin-min-xxl() {
    .heroSection {
        & .mySwiper {
            & .swiper-slide{
                & .sliderr1 {
                }
                & .sliderr2 {
                }
                & .sliderr3 {
                }
                & .sliderr4 {
                }
                & .sliderr5 {
                }
            }
            & .swiper-pagination {
                & .swiper-pagination-bullet {
                }
                & .swiper-pagination-bullet-active {
                }
            }
            & .hero-heading {
                & .hero-subheading {
                }
            }
            & .hero-title {
            }
        }
    }
}
// X-Large devices (large desktops, less than 1400px)
@mixin heroSection-mixin-max-xl() {
    .heroSection {
        & .mySwiper {
            & .swiper-slide{
                & .sliderr1 {
                }
                & .sliderr2 {
                }
                & .sliderr3 {
                }
                & .sliderr4 {
                }
                & .sliderr5 {
                }
            }
            & .swiper-pagination {
                & .swiper-pagination-bullet {
                }
                & .swiper-pagination-bullet-active {
                }
            }
            & .hero-heading {
                & .hero-subheading {
                }
            }
            & .hero-title {
            }
        }
    }
}
// Large devices (desktops, less than 1200px)
@mixin heroSection-mixin-max-lg() {
    .heroSection {
        & .mySwiper {
            & .swiper-slide{
                & .sliderr1 {
                }
                & .sliderr2 {
                }
                & .sliderr3 {
                }
                & .sliderr4 {
                }
                & .sliderr5 {
                }
            }
            & .swiper-pagination {
                & .swiper-pagination-bullet {
                }
                & .swiper-pagination-bullet-active {
                }
            }
            & .hero-heading {
                font-size: 55px;
                & .hero-subheading {
                }
            }
            & .hero-title {
                font-size: 15px;
            }
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin heroSection-mixin-max-md() {
    .heroSection {
        & .mySwiper {
            & .swiper-slide{
                & .sliderr1 {
                }
                & .sliderr2 {
                }
                & .sliderr3 {
                }
                & .sliderr4 {
                }
                & .sliderr5 {
                }
            }
            & .swiper-pagination {
                & .swiper-pagination-bullet {
                }
                & .swiper-pagination-bullet-active {
                }
            }
            & .hero-heading {
                font-size: 44px;
                line-height: 46px;
                & .hero-subheading {
                }
            }
            & .hero-title {
                font-size: 14px;
            }
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin heroSection-mixin-max-sm() {
    .heroSection {
        & .mySwiper {
            & .swiper-slide{
                & .sliderr1 {
                }
                & .sliderr2 {
                }
                & .sliderr3 {
                }
                & .sliderr4 {
                }
                & .sliderr5 {
                }
            }
            & .swiper-pagination {
                & .swiper-pagination-bullet {
                    height: 12px;
                    width: 12px;
                }
                & .swiper-pagination-bullet-active {
                }
            }
            & .hero-heading {
                font-size: 36px;
                line-height: 40px;
                & .hero-subheading {
                }
            }
            & .hero-title {
                font-size: 13px ;
            }
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@mixin heroSection-mixin-max-xs() {
    .heroSection {
        & .mySwiper {
            & .swiper-slide{
                & .sliderr1 {
                }
                & .sliderr2 {
                }
                & .sliderr3 {
                }
                & .sliderr4 {
                }
                & .sliderr5 {
                }
            }
            & .swiper-pagination {
                & .swiper-pagination-bullet {
                    height: 10px;
                    width: 10px;
                    border-width: 2px;
                }
                & .swiper-pagination-bullet-active {
                }
            }
            & .hero-heading {
                font-size: 28px;
                line-height: 35px;
                & .hero-subheading {
                }
            }
            & .hero-title {
                font-size: 12px;
            }
        }
    }
}
// hero section end


// about us section start
.aboutus {
    & .about-card {
        height: 320px;
        width: 320px;
        border: 10px solid $theme1;
        box-shadow: 12px 0 25px -15px $theme1 inset;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
        & .about-img {
            height: 100px;
            width: 100px;
        }
        & .about-heading {
            font-size: 24px;
            color: $black;
        }
        & .about-title{
            font-size: 15px;
            color: black;
            font-weight: 400;
            line-height: 22px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@mixin aboutus-mixin-min-sm() {
    .aboutus {
        & .about-card {
            &:hover {
            }
            & .about-img {
            }
            & .about-heading {
            }
            & .about-title{
            }
        }
    }
}
// Medium devices (tablets, 768px and up)
@mixin aboutus-mixin-min-md() {
    .aboutus {
        & .about-card {
            &:hover {
            }
            & .about-img {
            }
            & .about-heading {
            }
            & .about-title{
            }
        }
    }
}
// Large devices (desktops, 992px and up)
@mixin aboutus-mixin-min-lg() {
    .aboutus {
        & .about-card {
            &:hover {
            }
            & .about-img {
            }
            & .about-heading {
            }
            & .about-title{
            }
        }
    }
}
// X-Large devices (large desktops, 1200px and up)
@mixin aboutus-mixin-min-xl() {
    .aboutus {
        & .about-card {
            &:hover {
            }
            & .about-img {
            }
            & .about-heading {
            }
            & .about-title{
            }
        }
    }
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin aboutus-mixin-min-xxl() {
    .aboutus {
        & .about-card {
            &:hover {
            }
            & .about-img {
            }
            & .about-heading {
            }
            & .about-title{
            }
        }
    }
}
// X-Large devices (large desktops, less than 1400px)
@mixin aboutus-mixin-max-xl() {
    .aboutus {
        & .about-card {
            &:hover {
            }
            & .about-img {
            }
            & .about-heading {
            }
            & .about-title{
            }
        }
    }
}
// Large devices (desktops, less than 1200px)
@mixin aboutus-mixin-max-lg() {
    .aboutus {
        & .about-card {
            height: 310px;
            width: 310px;
            &:hover {
            }
            & .about-img {
                height: 95px;
                width: 95px;
            }
            & .about-heading {
            }
            & .about-title{
            }
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin aboutus-mixin-max-md() {
    .aboutus {
        & .about-card {
            height: 300px;
            width: 300px;
            &:hover {
            }
            & .about-img {
                height: 90px;
                width: 90px;
            }
            & .about-heading {
                font-size: 20px;
            }
            & .about-title{
                font-size: 14px;
            }
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin aboutus-mixin-max-sm() {
    .aboutus {
        & .about-card {
            height:300px ;
            width: 300px;
            &:hover {
            }
            & .about-img {
                height: 75px;
                width: 75px;
            }
            & .about-heading {
                font-size: 18px;
            }
            & .about-title{
                font-size: 13px;
            }
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@mixin aboutus-mixin-max-xs() {
    .aboutus {
        & .about-card {
            height: 265px;
            width: 265px;
            border-width: 8px;
            &:hover {
            }
            & .about-img {
                height: 65px;
                width: 65px;
            }
            & .about-heading {
                font-size: 16px;
            }
            & .about-title{
                font-size: 12px
            }
        }
    }
}
// about us section end


// how to play section start
.howplay {
    // background: url(../img/Index/bg5.jpg);
    // background-position: center;
    // background-size: cover;
    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     height: 100%;
    //     width: 100%;
    //     background: rgba($black, 0.5);
    // }
    & .playcard {
        transition: all 0.3s ease-in-out;
        &::before {
            border-left: 0 solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid $theme1;
            content: "";
            position: absolute;
            left: 5px;
            top: 5px;
        }
        & .playimg {
            height: 60px;
            width: 60px;
        }
        & .playheading {
            font-size: 18px;
            color: $white;
        }
        & .playline {
            height: 2px;
            width: 20px;
            background-color: $theme1;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: auto;
                width: 70px;
                right: 40px;
                height: 2px;
                background: $white;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 40px;
                    width: 70px;
                    height: 2px;
                    background: $white;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
            }
        }
        & .playtitle {
            font-size: 14px;
            color: lighten($white, 10);
        }
        &:hover {
            transform: translateY(-30px);
        }
    }
}

// Small devices (landscape phones, 576px and up)
@mixin howplay-mixin-min-sm() {
    .howplay {
        & .playcard {
            &::before {
            }
            & .playimg {
            }
            & .playheading {
            }
            & .playline {
                &::before {
                }
                &::after {
                }
            }
            & .playtitle {
            }
            &:hover {
            }
        }
    }
}
// Medium devices (tablets, 768px and up)
@mixin howplay-mixin-min-md() {
    .howplay {
        & .playcard {
            &::before {
            }
            & .playimg {
            }
            & .playheading {
            }
            & .playline {
                &::before {
                }
                &::after {
                }
            }
            & .playtitle {
            }
            &:hover {
            }
        }
    }
}
// Large devices (desktops, 992px and up)
@mixin howplay-mixin-min-lg() {
    .howplay {
        & .playcard {
            &::before {
            }
            & .playimg {
            }
            & .playheading {
            }
            & .playline {
                &::before {
                }
                &::after {
                }
            }
            & .playtitle {
            }
            &:hover {
            }
        }
    }
}
// X-Large devices (large desktops, 1200px and up)
@mixin howplay-mixin-min-xl() {
    .howplay {
        & .playcard {
            &::before {
            }
            & .playimg {
            }
            & .playheading {
            }
            & .playline {
                &::before {
                }
                &::after {
                }
            }
            & .playtitle {
            }
            &:hover {
            }
        }
    }
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin howplay-mixin-min-xxl() {
    .howplay {
        & .playcard {
            &::before {
            }
            & .playimg {
            }
            & .playheading {
            }
            & .playline {
                &::before {
                }
                &::after {
                }
            }
            & .playtitle {
            }
            &:hover {
            }
        }
    }
}
// X-Large devices (large desktops, less than 1400px)
@mixin howplay-mixin-max-xl() {
    .howplay {
        & .playcard {
            &::before {
            }
            & .playimg {
            }
            & .playheading {
            }
            & .playline {
                &::before {
                }
                &::after {
                }
            }
            & .playtitle {
            }
            &:hover {
            }
        }
    }
}
// Large devices (desktops, less than 1200px)
@mixin howplay-mixin-max-lg() {
    .howplay {
        & .playcard {
            &::before {
            }
            & .playimg {
            }
            & .playheading {
                font-size: 17px;
            }
            & .playline {
                &::before {
                }
                &::after {
                }
            }
            & .playtitle {
            }
            &:hover {
            }
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin howplay-mixin-max-md() {
    .howplay {
        & .playcard {
            &::before {
            }
            & .playimg {
            }
            & .playheading {
                font-size: 16px;
            }
            & .playline {
                &::before {
                }
                &::after {
                }
            }
            & .playtitle {
                font-size: 13px;
            }
            &:hover {
            }
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin howplay-mixin-max-sm() {
    .howplay {
        & .playcard {
            &::before {
            }
            & .playimg {
                height: 50px;
                width: 50px;
            }
            & .playheading {
                font-size: 15px;
            }
            & .playline {
                &::before {
                }
                &::after {
                }
            }
            & .playtitle {
                font-size: 12px;
            }
            &:hover {
            }
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@mixin howplay-mixin-max-xs() {
    .howplay {
        & .playcard {
            &::before {
            }
            & .playimg {
                height: 40px;
                width: 40px;
            }
            & .playheading {
                font-size: 14px;
            }
            & .playline {
                &::before {
                }
                &::after {
                }
            }
            & .playtitle {
                font-size: 11px;
            }
            &:hover {
                transform: translateY(-15px);
            }
        }
    }
}
// how to play section end


// testimonal start 
.testimonal {
    & .testimonial-card {
        & .testimonial-pic {
            height: 110px;
            width: 110px;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            // left: 0;
            left:-70px;
            height: 100%;
            width: 25%;
            background-color: $black;
            z-index: 1;
            transform: skewX(-30deg);
            // transform: rotate(35deg);
            border-right: 5px solid $theme1;
        }
        &::after {
            bottom: 0;
            right: 0;
            content: '';
            z-index: 0;
            position: absolute;
            border: 35px solid $theme1;
            border-radius: 0 0 5px 0;
            border-top-color: transparent!important;
            border-left-color: transparent!important;
        }
        & .testimonial-content{
            & .start-icon {
                height: 15px;
                width: 15px;
            }
            & .quote{
                height: 20px;
                width: 45px;
                right: -5px;
                bottom: 10px;
            }
            & .user-review {
                font-size: 16px;
                color: $black;
                text-align: justify;
            }
            & .user-name {
                font-size: 18px;
                color: $black;
            }
        }
        
    }
    & .swiper-pagination {
        bottom: 0 !important;
        & .swiper-pagination-bullet {
            height: 7px;
            width: 7px;
            opacity: 5;
            background-color: $theme1;
        }
        & .swiper-pagination-bullet-active {
            height: 11px;
            width: 11px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@mixin testimonal-mixin-min-sm() {
    .testimonal {
        & .testimonial-card {
            & .testimonial-pic {
            }
            &::before {
            }
            &::after {
            }
            & .testimonial-content{
                & .start-icon {
                }
                & .quote{
                }
                & .user-review {
                }
                & .user-name {
                }
            }
            
        }
        & .swiper-pagination {
            & .swiper-pagination-bullet {
            }
            & .swiper-pagination-bullet-active {

            }
        }
    }
}
// Medium devices (tablets, 768px and up)
@mixin testimonal-mixin-min-md() {
    .testimonal {
        & .testimonial-card {
            & .testimonial-pic {
            }
            &::before {
            }
            &::after {
            }
            & .testimonial-content{
                & .start-icon {
                }
                & .quote{
                }
                & .user-review {
                }
                & .user-name {
                }
            }
            
        }
        & .swiper-pagination {
            & .swiper-pagination-bullet {
            }
            & .swiper-pagination-bullet-active {

            }
        }
    }
}
// Large devices (desktops, 992px and up)
@mixin testimonal-mixin-min-lg() {
    .testimonal {
        & .testimonial-card {
            & .testimonial-pic {
            }
            &::before {
            }
            &::after {
            }
            & .testimonial-content{
                & .start-icon {
                }
                & .quote{
                }
                & .user-review {
                }
                & .user-name {
                }
            }
        }
        & .swiper-pagination {
            & .swiper-pagination-bullet {
            }
            & .swiper-pagination-bullet-active {
            }
        }
    }
}
// X-Large devices (large desktops, 1200px and up)
@mixin testimonal-mixin-min-xl() {
    .testimonal {
        & .testimonial-card {
            & .testimonial-pic {
            }
            &::before {
            }
            &::after {
            }
            & .testimonial-content{
                & .start-icon {
                }
                & .quote{
                }
                & .user-review {
                }
                & .user-name {
                }
            }
        }
        & .swiper-pagination {
            & .swiper-pagination-bullet {
            }
            & .swiper-pagination-bullet-active {

            }
        }
    }
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin testimonal-mixin-min-xxl() {
    .testimonal {
        & .testimonial-card {
            & .testimonial-pic {
            }
            &::before {
            }
            &::after {
            }
            & .testimonial-content{
                & .start-icon {
                }
                & .quote{
                }
                & .user-review {
                }
                & .user-name {
                }
            }
        }
        & .swiper-pagination {
            & .swiper-pagination-bullet {
            }
            & .swiper-pagination-bullet-active {

            }
        }
    }
}
// X-Large devices (large desktops, less than 1400px)
@mixin testimonal-mixin-max-xl() {
    .testimonal {
        & .testimonial-card {
            & .testimonial-pic {
            }
            &::before {
            }
            &::after {
            }
            & .testimonial-content{
                & .start-icon {
                }
                & .quote{
                }
                & .user-review {
                }
                & .user-name {
                }
            }
        }
        & .swiper-pagination {
            & .swiper-pagination-bullet {
            }
            & .swiper-pagination-bullet-active {

            }
        }
    }
}
// Large devices (desktops, less than 1200px)
@mixin testimonal-mixin-max-lg() {
    .testimonal {
        & .testimonial-card {
            & .testimonial-pic {
            }
            &::before {
                left: -76px;
                width: 34%;
            }
            &::after {
            }
            & .testimonial-content{
                & .start-icon {
                }
                & .quote{
                }
                & .user-review {
                }
                & .user-name {
                }
            }
        }
        & .swiper-pagination {
            & .swiper-pagination-bullet {
            }
            & .swiper-pagination-bullet-active {

            }
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin testimonal-mixin-max-md() {
    .testimonal {
        & .testimonial-card {
            & .testimonial-pic {
            }
            &::before {
                left: -60px;
                width:16%;
                transform: skewX(-30deg);
            }
            &::after {
            }
            & .testimonial-content{
                & .start-icon {
                }
                & .quote{
                    width: 42px;
                }
                & .user-review {
                    font-size: 15px;
                    line-height: 21px;
                }
                & .user-name {
                    font-size: 16px;
                }
            }
        }
        & .swiper-pagination {
            & .swiper-pagination-bullet {
            }
            & .swiper-pagination-bullet-active {

            }
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin testimonal-mixin-max-sm() {
    .testimonal {
        & .testimonial-card {
            & .testimonial-pic {
                height: 90px;
                width: 90px;
            }
            &::before {
                left: -50px;
                width: 20%;
                transform: skewX(-30deg);
            }
            &::after {
            }
            & .testimonial-content{
                & .start-icon {
                    height: 12px;
                    width: 12px;
                }
                & .quote{
                }
                & .user-review {
                    font-size: 14px;
                }
                & .user-name {
                    font-size: 15px;
                }
            }
        }
        & .swiper-pagination {
            & .swiper-pagination-bullet {
            }
            & .swiper-pagination-bullet-active {

            }
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@mixin testimonal-mixin-max-xs() {
    .testimonal {
        & .testimonial-card {
            & .testimonial-pic {
                height: 70px;
                width: 70px;
            }
            &::before {
                left: -75px;
                width: 30%;
                transform: skewX(-20deg);
            }
            &::after {
                border-width: 23px;
            }
            & .testimonial-content{
                & .start-icon {
                    height: 10px;
                    width: 10px;
                }
                & .quote{
                    width: 40px;
                    height: auto;
                    bottom: 3px;
                    right: -5px;
                }
                & .user-review {
                    font-size: 12px;
                    line-height: 17px;
                }
                & .user-name {
                    font-size: 14px;
                }
            }
        }
        & .swiper-pagination {
            & .swiper-pagination-bullet {
            }
            & .swiper-pagination-bullet-active {

            }
        }
    }
}
// less than 400px
@media  screen and (max-width:420px) {
    .testimonal {
        & .testimonial-card {
            & .testimonial-pic {
            }
            &::before {
                left: -50px !important;
                width: 30% !important;
            }
            &::after {
            }
            & .testimonial-content{
                & .start-icon {
                }
                & .quote{
                }
                & .user-review {
                    line-height: 16px !important;
                }
                & .user-name {
                }
            }
        }
        & .swiper-pagination {
            & .swiper-pagination-bullet {
            }
            & .swiper-pagination-bullet-active {

            }
        }
    }
}
// .testimonal end


// faq section start
.faq {
    // & .faq-img {
    //     height: 400px;
    //     width: 400px;
    // }
    & .question {
        & .faq-btn {
            font-size: 15px;
            color: $white;
            &:not(.collapsed) {
                color: $theme1;
                // background-color: $theme1 !important;
                &::after {
                    background: url(../img/Index/minus.svg) no-repeat;
                    border-color:$theme1;
                    background-position: center;
                    background-size: 14px;
                }
            }
            &::after {
                content: '';
                background: url(../img/Index/plus.svg) no-repeat;
                transition: all 0.3s ease-in-out;
                border: 2px solid $white;
                height: 25px;
                width: 25px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-position: center;
                background-size: 14px;
            }
        }
        & .faq-title {
            font-size: 14px;
            color: $white;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@mixin heading-mixin-min-sm() {
    .faq {
        & .question {
            & .faq-btn {
                &:not(.collapsed) {
                    &::after {
                    }
                }
                &::after {
                }
            }
            & .faq-title {
            }
        }
    }
}
// Medium devices (tablets, 768px and up)
@mixin heading-mixin-min-md() {
    .faq {
        & .question {
            & .faq-btn {
                &:not(.collapsed) {
                    &::after {
                    }
                }
                &::after {
                }
            }
            & .faq-title {
            }
        }
    }
}
// Large devices (desktops, 992px and up)
@mixin heading-mixin-min-lg() {
    .faq {
        & .question {
            & .faq-btn {
                &:not(.collapsed) {
                    &::after {
                    }
                }
                &::after {
                }
            }
            & .faq-title {
            }
        }
    }
}
// X-Large devices (large desktops, 1200px and up)
@mixin heading-mixin-min-xl() {
    .faq {
        & .question {
            & .faq-btn {
                &:not(.collapsed) {
                    &::after {
                    }
                }
                &::after {
                }
            }
            & .faq-title {
            }
        }
    }
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin heading-mixin-min-xxl() {
    .faq {
        & .question {
            & .faq-btn {
                &:not(.collapsed) {
                    &::after {
                    }
                }
                &::after {
                }
            }
            & .faq-title {
            }
        }
    }
}
// X-Large devices (large desktops, less than 1400px)
@mixin heading-mixin-max-xl() {
    .faq {
        & .question {
            & .faq-btn {
                &:not(.collapsed) {
                    &::after {
                    }
                }
                &::after {
                }
            }
            & .faq-title {
            }
        }
    }
}
// Large devices (desktops, less than 1200px)
@mixin heading-mixin-max-lg() {
    .faq {
        & .question {
            & .faq-btn {
                &:not(.collapsed) {
                    &::after {
                    }
                }
                &::after {
                }
            }
            & .faq-title {
            }
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin heading-mixin-max-md() {
    .faq {
        & .question {
            & .faq-btn {
                font-size: 14px;
                &:not(.collapsed) {
                    &::after {
                    }
                }
                &::after {
                }
            }
            & .faq-title {
                font-size: 13px;
            }
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin heading-mixin-max-sm() {
    .faq {
        & .question {
            & .faq-btn {
                font-size: 13px;
                &:not(.collapsed) {
                    &::after {
                        background-size: 10px;
                    }
                }
                &::after {
                    height: 20px;
                    width: 20px;
                    background-size: 10px;
                }
            }
            & .faq-title {
                font-size: 12px;
            }
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@mixin heading-mixin-max-xs() {
    .faq {
        & .question {
            & .faq-btn {
                font-size: 12px;
                &:not(.collapsed) {
                    &::after {
                    }
                }
                &::after {
                }
            }
            & .faq-title {
                font-size: 11px;
            }
        }
    }
}
// faq section end