
::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgba($black, 0);
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgba($black, 0);
}

::-webkit-scrollbar-thumb {
  background-color: $theme1;
}
body {
  scroll-behavior: smooth;
  // overflow-x: hidden;
  // background-color: rgba(13,110,253,.01);
}

.heading {
  font-size: 40px;
  letter-spacing: 1px;
  color: $theme1;
      &::before {
          content: '';
          position: absolute;
          bottom: 6px;
          left: 0;
          width: 100%;
          height: 10px;
          // background-color: white;
          background-color: lighten($theme1, 40);
          z-index: -1;
          border-radius: 50%;
      }
}
.sub-heading {
  font-size: 28px;
  color: $white;
}


// Small devices (landscape phones, 576px and up)
@mixin main-mixin-min-sm() {
  .heading {
      // font-size: 80px !important;
          &::before {
          }
  }
  .sub-heading {
  }
}
// Medium devices (tablets, 768px and up)
@mixin main-mixin-min-md() {
  .heading {
      &::before {
      }
}
.sub-heading {
}
}
// Large devices (desktops, 992px and up)
@mixin main-mixin-min-lg() {
  .heading {
      &::before {
      }
  }
  .sub-heading {
  }
}
// X-Large devices (large desktops, 1200px and up)
@mixin main-mixin-min-xl() {
  .heading {
      &::before {
      }
}
.sub-heading {
}
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin main-mixin-min-xxl() {
  .heading {
      &::before {
      }
}
.sub-heading {
}
}
// X-Large devices (large desktops, less than 1400px)
@mixin main-mixin-max-xl() {
  .heading {
      &::before {
      }
}
.sub-heading {
}
}
// Large devices (desktops, less than 1200px)
@mixin main-mixin-max-lg() {
  .heading {
      font-size: 38px;
      &::before {
      }
  }
  .sub-heading {
      font-size: 26px;
  }
}
// Medium devices (tablets, less than 992px)
@mixin main-mixin-max-md() {
  .heading {
      font-size: 36px;
      &::before {
      }
  }
  .sub-heading {
      font-size: 24px;
  }
}
// Small devices (landscape phones, less than 768px)
@mixin main-mixin-max-sm() {
  .heading {
      font-size: 32px;
      &::before {
      }
  }
  .sub-heading {
      font-size: 22px;
  }
}
// X-Small devices (portrait phones, less than 576px)
@mixin main-mixin-max-xs() {
  .heading {
      font-size: 26px !important;
      &::before {
      }
  }
  .sub-heading {
      font-size: 18px;
  }
}