.navbar {
    height: 80px;
    & .navbar-brand {
        max-height: auto;
        max-width: 170px;
    }
    & .nav-offcanvas {
        width: 280px;
        & .navbar-nav {
                & .nav-link {
                    font-size: 16px;
                    z-index: 1;
                    color: $theme1;
                    &::before {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 2px;
                        background-color: $theme1;
                        color: $black;
                        z-index: 0;
                        border-radius: 50px;
                        bottom: -5px;
                        transition: all 0.3s ease-in-out;
                    }
                    &:hover {
                        &::before {
                            width: 100%;
                        }
                    }
                }

        }
    }
}
.fixed-navbar {
    top: 0;
    // position: fixed !important;
    animation-name: fixedAnim;
    animation-duration: 1s;
    background-color: $black !important;
    animation-fill-mode: forwards;
    -webkit-box-shadow: 0 12px 6px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 12px 6px rgba(0, 0, 0, 0.06);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.06);

  @keyframes fixedAnim {
    from {
        top: -50px;
    }
  
    to {
        top: 0;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@mixin navbar-mixin-min-sm() {
    .navbar {
        & .navbar-brand {
        }
        & .nav-offcanvas {
            & .navbar-nav {
                    & .nav-link {
                        &::before {
                        }
                        &:hover {
                            &::before {
                            }
                        }
                    }
            }
        }
    }
}
// Medium devices (tablets, 768px and up)
@mixin navbar-mixin-min-md() {
    .navbar {
        & .navbar-brand {
        }
        & .nav-offcanvas {
            & .navbar-nav {
                    & .nav-link {
                        &::before {
                        }
                        &:hover {
                            &::before {
                            }
                        }
                    }
            }
        }
    }
}
// Large devices (desktops, 992px and up)
@mixin navbar-mixin-min-lg() {
    .navbar {
        & .navbar-brand {
        }
        & .nav-offcanvas {
            & .navbar-nav {
                    & .nav-link {
                        &::before {
                        }
                        &:hover {
                            &::before {
                            }
                        }
                    }
            }
        }
    }
}
// X-Large devices (large desktops, 1200px and up)
@mixin navbar-mixin-min-xl() {
    .navbar {
        & .navbar-brand {
        }
        & .nav-offcanvas {
            & .navbar-nav {
                    & .nav-link {
                        &::before {
                        }
                        &:hover {
                            &::before {
                            }
                        }
                    }
            }
        }
    }
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin navbar-mixin-min-xxl() {
    .navbar {
        & .navbar-brand {
        }
        & .nav-offcanvas {
            & .navbar-nav {
                    & .nav-link {
                        &::before {
                        }
                        &:hover {
                            &::before {
                            }
                        }
                    }
            }
        }
    }
}
// X-Large devices (large desktops, less than 1400px)
@mixin navbar-mixin-max-xl() {
    .navbar {
        & .navbar-brand {
        }
        & .nav-offcanvas {
            & .navbar-nav {
                    & .nav-link {
                        &::before {
                        }
                        &:hover {
                            &::before {
                            }
                        }
                    }
            }
        }
    }
}
// Large devices (desktops, less than 1200px)
@mixin navbar-mixin-max-lg() {
    .navbar {
        & .navbar-brand {
        }
        & .nav-offcanvas {
            & .navbar-nav {
                    & .nav-link {
                        &::before {
                        }
                        &:hover {
                            &::before {
                            }
                        }
                    }
            }
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin navbar-mixin-max-md() {
    .navbar {
        & .navbar-brand {
            width: 160px;
        }
        & .nav-offcanvas {
            & .navbar-nav {
                    & .nav-link {
                        font-size: 13px;
                        &::before {
                        }
                        &:hover {
                            &::before {
                            }
                        }
                    }
            }
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin navbar-mixin-max-sm() {
    .navbar {
        height: 75px;
        & .navbar-brand {
            height: auto;
            width: 140px;
        }
        & .nav-offcanvas {
            & .offcanvas-logo {
                width: auto;
                height: 40px;
            }
            & .btn-close {
                font-size: 13px;
            }
            & .navbar-nav {
                    & .nav-link {
                        font-size: 12px;
                        &::before {
                        }
                        &:hover {
                            &::before {
                            }
                        }
                    }
            }
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@mixin navbar-mixin-max-xs() {
    .navbar {
        height: 65px;
        & .navbar-brand {
            height: auto;
            width: 120px;
        }
        & .nav-offcanvas {
            & .offcanvas-logo {
                height: 35px;
                width: auto;
            }
            & .btn-close {
                font-size: 11px;
            }
            & .navbar-nav {
                    & .nav-link {
                        font-size: 11px;
                        &::before {
                        }
                        &:hover {
                            &::before {
                            }
                        }
                    }
            }
        }
    }
}