// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    // @include heading-mixin-min-sm();
    @include btn-mixin-min-sm();
    @include navbar-mixin-min-sm();
    @include heroSection-mixin-min-sm();
    @include aboutus-mixin-min-sm();
    @include howplay-mixin-min-sm();
    @include testimonal-mixin-min-sm();
    @include footer-mixin-min-sm();
    @include heading-mixin-min-sm();
    @include policy-mixin-min-sm();
    // @include footer-mixin-min-sm();
    // @include termscondition-mixin-min-sm();
    // @include herotwo-mixin-min-sm();
    // @include formSection-mixin-min-sm();
    // @include faqsection-mixin-min-sm();
    @include main-mixin-min-sm();
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  // @include heading-mixin-min-md();
  @include btn-mixin-min-md();
  @include navbar-mixin-min-md();
  @include heroSection-mixin-min-md();
  @include aboutus-mixin-min-md();
  @include howplay-mixin-min-md();
  @include testimonal-mixin-min-md();
  @include footer-mixin-min-md();
  @include heading-mixin-min-md();
  @include policy-mixin-min-md();
  // @include footer-mixin-min-md();
  // @include termscondition-mixin-min-md();
  // @include herotwo-mixin-min-md();
  // @include formSection-mixin-min-md();
  // @include faqsection-mixin-min-md();
  @include main-mixin-min-md();
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  // @include heading-mixin-min-lg();
  @include btn-mixin-min-lg();
  @include navbar-mixin-min-lg();
  @include heroSection-mixin-min-lg();
  @include aboutus-mixin-min-lg();
  @include howplay-mixin-min-lg();
  @include testimonal-mixin-min-lg();
  @include footer-mixin-min-lg();
  @include heading-mixin-min-lg();
  @include policy-mixin-min-lg();
  // @include footer-mixin-min-lg();
  // @include termscondition-mixin-min-lg();
  // @include herotwo-mixin-min-lg();
  // @include formSection-mixin-min-lg();
  // @include faqsection-mixin-min-lg();
  @include main-mixin-min-lg();
}
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  // @include heading-mixin-min-xl();
  @include btn-mixin-min-xl();
  @include navbar-mixin-min-xl();
  @include heroSection-mixin-min-xl();
  @include aboutus-mixin-min-xl();
  @include howplay-mixin-min-xl();
  @include testimonal-mixin-min-xl();
  @include footer-mixin-min-xl();
  @include heading-mixin-min-xl();
  @include policy-mixin-min-xl();
//   @include footer-mixin-min-xl();
//   @include termscondition-mixin-min-xl();
//   @include herotwo-mixin-min-xl();
//   @include formSection-mixin-min-xl();
//   @include faqsection-mixin-min-xl();
  @include main-mixin-min-xl();
// }
// // XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) {
  // @include heading-mixin-min-xxl();
  @include btn-mixin-min-xxl();
  @include navbar-mixin-min-xxl();
  @include heroSection-mixin-min-xxl();
  @include aboutus-mixin-min-xxl();
  @include howplay-mixin-min-xxl();
  @include testimonal-mixin-min-xxl();
  @include footer-mixin-min-xxl();
  @include heading-mixin-min-xxl();
  @include policy-mixin-min-xxl();
//   @include footer-mixin-min-xxl();
//   @include termscondition-mixin-min-xxl();
//   @include herotwo-mixin-min-xxl();
//   @include formSection-mixin-min-xxl();
//   @include faqsection-mixin-min-xxl();
  @include main-mixin-min-xxl();
}
// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  // @include heading-mixin-max-xl();
  @include btn-mixin-max-xl();
  @include navbar-mixin-max-xl();
  @include heroSection-mixin-max-xl();
  @include aboutus-mixin-max-xl();
  @include howplay-mixin-max-xl();
  @include testimonal-mixin-max-xl();
  @include footer-mixin-max-xl();
  @include heading-mixin-max-xl();
  @include policy-mixin-max-xl();
  // @include footer-mixin-max-xl();
  // @include termscondition-mixin-max-xl();
  // @include herotwo-mixin-max-xl();
  // @include formSection-mixin-max-xl();
  // @include faqsection-mixin-max-xl();
  @include main-mixin-max-xl();
}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  // @include heading-mixin-max-lg();
  @include btn-mixin-max-lg();
  @include navbar-mixin-max-lg();
  @include heroSection-mixin-max-lg();
  @include aboutus-mixin-max-lg();
  @include howplay-mixin-max-lg();
  @include testimonal-mixin-max-lg();
  @include footer-mixin-max-lg();
  @include heading-mixin-max-lg();
  @include policy-mixin-max-lg();
  // @include footer-mixin-max-lg();
  // @include termscondition-mixin-max-lg();
  // @include herotwo-mixin-max-lg();
  // @include formSection-mixin-max-lg();
  // @include faqsection-mixin-max-lg();
  @include main-mixin-max-lg();
}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  @include heading-mixin-max-md();
  @include btn-mixin-max-md();
  @include navbar-mixin-max-md();
  @include heroSection-mixin-max-md();
  @include aboutus-mixin-max-md();
  @include howplay-mixin-max-md();
  @include testimonal-mixin-max-md();
  @include footer-mixin-max-md();
  @include heading-mixin-max-md();
  @include policy-mixin-max-md();
  // @include footer-mixin-max-md();
  // @include termscondition-mixin-max-md();
  // @include herotwo-mixin-max-md();
  // @include formSection-mixin-max-md();
  // @include faqsection-mixin-max-md();
  @include main-mixin-max-md();
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  @include heading-mixin-max-sm();
  @include btn-mixin-max-sm();
  @include navbar-mixin-max-sm();
  @include heroSection-mixin-max-sm();
  @include aboutus-mixin-max-sm();
  @include howplay-mixin-max-sm();
  @include testimonal-mixin-max-sm();
  @include footer-mixin-max-sm();
  @include heading-mixin-max-sm();
  @include policy-mixin-max-sm();
  // @include footer-mixin-max-sm();
  // @include termscondition-mixin-max-sm();
  // @include herotwo-mixin-max-sm();
  // @include formSection-mixin-max-sm();
  // @include faqsection-mixin-max-sm();
  @include main-mixin-max-sm();
}
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  // @include heading-mixin-max-xs();
  @include btn-mixin-max-xs();
  @include navbar-mixin-max-xs();
  @include heroSection-mixin-max-xs();
  @include aboutus-mixin-max-xs();
  @include howplay-mixin-max-xs();
  @include testimonal-mixin-max-xs();
  @include footer-mixin-max-xs();
  @include heading-mixin-max-sm();
  @include policy-mixin-max-xs();
  // @include footer-mixin-max-xs();
  // @include termscondition-mixin-max-xs();
  // @include herotwo-mixin-max-xs();
  // @include formSection-mixin-max-xs();
  // @include faqsection-mixin-max-xs();
  @include main-mixin-max-xs();
}
// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width







