
.heading{
    font-size:50px;
}
.tag-line{
    font-size: 40px;
}
.shop-btn{
    background-color: #000;
    color: #fff!important;
    /* padding: 8px 30px!important; */
    border-radius: 0!important;
    /* margin-top: 10px !important; */
    font-size: 16px ;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.womenImg{
    margin: 50px -60px 0px 0px;
    position: relative;
    z-index: 2;
}
.shop-btn:hover{
    background-color: #AC8C5C;
    color: #000 !important;
}
.shop-btn .right {
    transition: all 0.3s ease-in-out;
}
.shop-btn:hover .right{
    filter: invert(1);
}

  /* media@querry */
@media (max-width: 1199px) {
    .heading{
        font-size:45px;
    }
    .tag-line{
        font-size: 35px;
    }
    .shop-btn{
        font-size: 15px;
    }
}
@media (max-width: 991px) {
    .heading{
        font-size:38px;
    }
    .tag-line{
        font-size: 30px;
    }
    .shop-btn{
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    .heading{
        font-size:26px;
    }
    .tag-line{
        font-size: 23px;
    }
    .shop-btn{
        font-size: 13px;
    }
}
@media (max-width: 576px) {
    .heading{
        font-size:20px;
    }
    .tag-line{
        font-size: 16px;
    }
    .shop-btn{
        font-size: 12px;
    }
}